:root {
	--bg-color: #333;
	--bg-input-color: #444;
	--fg-color: #ddd;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

button {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

input {
	background-color: var(--bg-input-color);
	color: var(--fg-color);
}
